@import 'tailwindcss';

@layer base {
  :root {
    --background: 248 249 250;
    --foreground: 17 24 39;
  }

  .dark {
    --background: 17 24 39;
    --foreground: 248 249 250;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
